rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /customers/{customerId} {
      allow read, write: if true;
    }
    match /drivers/{driverId} {
      allow read, write: if true;
    }
    match /services/{serviceId} {
      allow read, write: if true;
    }
    match /orders/{orderId} {
      allow read, write: if true;
    }
    match /payments/{paymentId} {
      allow read, write: if true;
    }
  }
}
